@use '../../../../public/assets/styles/all_styles.scss' as all;

.header {
  width: 100%;
  height: 88px;
  position: fixed;
  @include all.flex-center;
  background-color: rgba(33, 56, 48, 1);

  @include all.mobile {
    height: 72px;
  }

  .content {
    height: 100%;
    padding: 28px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include all.tablet {
    }

    @include all.mobile {
      padding: 16px clamp(10px, calc(5.714px + 1.339vw), 16px);
    }
  }

  &__links {
    width: 112px;
    height: 32px;
    @include all.flex-center;

    @include all.mobile {
      display: none;
    }

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        @include all.flex-center;

        svg path {
          transition: 0.1s ease;

          &:first-child {
            fill: none;
          }
          &:last-child {
            fill: #f8f7e5;
          }
        }

        &:hover svg path {
          &:first-child {
            fill: rgba(234, 142, 184, 1);
          }
        }
      }
    }
  }

  &__logo {
    width: auto;
    height: 40px;
    @include all.flex-center;
    gap: 10px;

    svg path {
      fill: rgba(234, 142, 184, 1);
    }

    p {
      color: #f8f7e5;
      font-family: Quicksand;
      font-weight: 600;
      font-size: 24px;
    }
  }

  &__nav {
    width: clamp(80px, calc(77.714px + 0.714vw), 88px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    background: none;
    @include all.flex-center;

    &--language {
      width: 40px;
      height: 40px;
      border: 1px solid #f8f7e5;
      border-radius: 50%;

      p {
        color: #f8f7e5;
        font-family: Quicksand;
        font-weight: 600;
        font-size: 18px;
      }

      &:hover {
        transition: 0.1s ease;
        background: rgba(234, 142, 184, 1);
      }
    }

    &--menu {
      width: 32px;
      height: 32px;
      border: none;

      svg path {
        transition: 0.1s ease;
        fill: #f8f7e5;
      }

      &:hover svg path {
        fill: rgba(234, 142, 184, 1);
      }
    }
  }
}
