@use '../../../../public/assets/styles/all_styles.scss' as *;

.header {
  width: 100%;
  height: 88px;
  line-height: 120%;
  position: fixed;
  @include flex-center;
  background-color: $bgMedium;

  @include mobile {
    height: 72px;
  }

  .content {
    height: 100%;
    padding: 28px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
    }

    @include mobile {
      padding: 16px clamp(10px, calc(5.714px + 1.339vw), 16px);
    }
  }

  &__links {
    width: 112px;
    height: 32px;
    @include flex-center;

    @include mobile {
      display: none;
    }

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        @include flex-center;

        svg path {
          transition: 0.1s ease;

          &:first-child {
            fill: none;
          }
          &:last-child {
            fill: $textLight;
          }
        }

        &:hover svg path {
          &:first-child {
            fill: $highlightMedium;
          }
        }
      }
    }
  }

  &__logo {
    width: auto;
    height: 40px;
    @include flex-center;
    gap: 10px;

    svg path {
      fill: $highlightMedium;
    }

    p {
      color: $textLight;
      font-family: Quicksand;
      font-weight: 600;
      font-size: 24px;
    }
  }

  &__nav {
    width: clamp(80px, calc(77.714px + 0.714vw), 88px);
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    background: none;
    @include flex-center;

    &--language {
      width: 40px;
      height: 40px;
      border: 1px solid $textLight;
      border-radius: 50%;

      p {
        color: $textLight;
        font-family: Quicksand;
        font-weight: 600;
        font-size: 18px;
      }

      &:hover {
        transition: 0.1s ease;
        background: $highlightMedium;
      }
    }

    &--menu {
      width: 32px;
      height: 32px;
      border: none;

      svg path {
        transition: 0.1s ease;
        fill: $textLight;
      }

      &:hover svg path {
        fill: $highlightMedium;
      }
    }

    &--close {
      width: 32px;
      height: 32px;
      border: none;

      svg path {
        transition: 0.1s ease;
        fill: $highlightLight;
      }

      &:hover svg path {
        fill: $highlightDark;
      }
    }
  }

  &__overlay {
    width: 208px;
    // height: 222px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: $bgLight;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: -30%;
    right: -20%;
    z-index: 10;
    transform: translateX(150%);
    transition: transform 0.2s ease;

    &--open {
      transform: translateX(0);
    }

    &-header {
      width: 176px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 24px;
        color: $highlightMedium;
      }
    }

    &-sections {
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          display: flex;
          width: 100%;

          svg {
            display: none;
          }

          &:hover {
            svg {
              display: block;

              path {
                transition: 0.1s ease;
                fill: $highlightMedium;
              }
            }

            a {
              color: $highlightLight;
            }
          }
        }
      }
    }

    &-social {
      display: none;

      ul {
        width: 100%;

        li {
          @include flex-center;
          a {
            @include flex-center;

            svg path {
              &:first-child {
                fill: none;
              }
              &:last-child {
                fill: $textDark;
              }
            }
          }
        }
      }

      @include mobile {
        display: flex;

        ul {
          display: flex;
          gap: 23px;
        }
      }
    }
  }

  &__backdrop {
    display: none;

    &--visible {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }
}
