<nav class="navbar">
  <a href="#hero-section" [class.is-active]="activeSection() === 'hero-section'"
    ><div class="navbar__section"></div
  ></a>
  <a href="#about-section" [class.is-active]="activeSection() === 'about-section'"
    ><div class="navbar__section"></div
  ></a>
  <a href="#skills-section" [class.is-active]="activeSection() === 'skills-section'"
    ><div class="navbar__section"></div
  ></a>
  <a href="#portfolio-section" [class.is-active]="activeSection() === 'portfolio-section'"
    ><div class="navbar__section"></div
  ></a>
  <a href="#reference-section" [class.is-active]="activeSection() === 'reference-section'"
    ><div class="navbar__section"></div
  ></a>
  <a href="#contact-section" [class.is-active]="activeSection() === 'contact-section'"
    ><div class="navbar__section"></div
  ></a>
</nav>
