@use '../../../../../../public/assets/styles/all_styles.scss' as *;

.about {
  height: 100dvh;
  padding-top: 88px;
  background-color: $bgLight;
  @include flex-column;
  overflow: hidden;

  .content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 96px 0 112px;
  }

  h2 {
    color: $textDark;
    font-family: Eczar;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    align-self: flex-start;
    position: absolute;
    bottom: 668px;
    right: 96px;

    @include widescreen {
      position: absolute;
      top: clamp(40px, 10dvh, 159px);
      right: 96px;
    }
  }

  &__image {
    width: 528px;
    height: 740px;
    background-color: rgba(21, 87, 87, 0.733);
  }

  &__info {
    width: 600px;
    height: 250px;
    background-color: $bgDark;
    color: $textLight;
    font-family: Quicksand;
    font-size: 16px;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    bottom: 322px;
    left: 554px;

    &--text {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--more {
      width: 40px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: none;
      background: none;
    }
  }

  &__more {
    width: 272px;
    height: fit-content;
    border-radius: 4px;
    border: 1px solid $textLight;
    padding: 32px;
    font-family: Quicksand;
    font-size: 16px;
    line-height: 120%;
    color: $textLight;
    background-color: $bgMedium;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 80px;
    left: 1040px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease,
      visibility 0s linear 0.2s;

    &--visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        visibility 0s linear 0s;
    }

    h3 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        display: flex;
        gap: 8px;
      }
    }
  }
}
