@use '../../../../../../public/assets/styles/all_styles.scss' as *;

.about {
  @include sectionStart($bgLight, $textDark, 160px);
  position: relative;

  @include tablet {
    height: auto;
    padding-block: 80px;
  }

  .content {
    height: 740px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;

    @include tablet {
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;
      position: unset;
    }
  }

  h2 {
    color: $textDark;
    @include headline;
    align-self: flex-start;

    @include tablet {
      position: unset;
      align-self: flex-end;
      margin-bottom: 32px;
    }

    // @include widescreen {
    //   position: absolute;
    //   top: clamp(40px, 10dvh, 159px);
    //   right: 96px;
    // }
  }

  &__wrapper {
    width: 528px;
    height: 740px;

    @include tablet {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    width: 528px;
    height: 740px;

    @include tablet(1200px) {
      width: 67%;
      height: auto;
      aspect-ratio: 240 / 336;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info-wrap {
    @include tablet {
      width: 100%;
      height: auto;
      min-height: 500px;
      position: relative;
    }
  }

  &__info {
    width: 600px;
    max-width: 600px;
    height: 250px;
    background-color: $bgDark;
    color: $textLight;
    font-family: Quicksand;
    font-size: 16px;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    bottom: 322px;
    left: 450px;

    @include tablet(1200px) {
      width: clamp(400px, calc(-449.286px + 82.857vw), 545px);
      height: auto;
      bottom: 0;
    }

    @include tablet {
      width: 67%;
      min-width: 240px;

      left: unset;
      bottom: unset;
      top: -10%;
      right: 0;
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;

    app-button {
      --btn-width: clamp(131px, calc(35px + 24vw), 155px);
    }

    &--more {
      width: 40px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: none;
      background: none;
    }
  }

  &__more {
    width: 272px;
    height: fit-content;
    border-radius: 4px;
    border: 1px solid $textLight;
    padding: 32px;
    font-family: Quicksand;
    font-size: 16px;
    line-height: 120%;
    color: $textLight;
    background-color: $bgMedium;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 80px;
    right: 120px;
    @include hoverDefault;

    &--visible {
      @include hoverEnter;
    }

    @include tablet(1200px) {
      bottom: 10px;
    }

    @include tablet {
      bottom: 80px;
      left: clamp(16px, calc(-32px + 12vw), 112px);
    }

    h3 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        display: flex;
        gap: 8px;
      }
    }
  }
}
