<section id="contact-section" class="contact">
  <div class="content">
    <div class="contact__intro">
      <h2>Let's build something Cool together!</h2>
      <div class="contact__intro--text">
        <h3>Got a problem to solve?</h3>
        <p>
          Encourage people to contact you and describe what role you are interested in. Show that
          you will add value to their projects through your work.
        </p>
      </div>
    </div>
    <div class="contact__form">
      <div class="contact__form--personal">
        <div
          class="contact__form--input"
          [class.contact__form--invalid]="
            contactForm.name().touched() && contactForm.name().invalid()
          "
        >
          <h3>What's your name?</h3>
          <input type="text" [formField]="contactForm.name" [placeholder]="namePlaceholder()" />
          @if (
            contactForm.name().touched() &&
            contactForm.name().invalid() &&
            contactForm.name().value()
          ) {
            <p class="contact__form--error">{{ contactForm.name().errors()?.[0]?.message }}</p>
          }
        </div>
        <div
          class="contact__form--input"
          [class.contact__form--invalid]="
            contactForm.email().touched() && contactForm.email().invalid()
          "
        >
          <h3>What's your email?</h3>
          <input type="email" [formField]="contactForm.email" [placeholder]="emailPlaceholder()" />
          @if (
            contactForm.email().touched() &&
            contactForm.email().invalid() &&
            contactForm.email().value()
          ) {
            <p class="contact__form--error">{{ contactForm.email().errors()?.[0]?.message }}</p>
          }
        </div>
      </div>
      <div
        class="contact__form--mail contact__form--input"
        [class.contact__form--invalid]="
          contactForm.message().touched() && contactForm.message().invalid()
        "
      >
        <h3>How can I help you?</h3>
        <input type="text" [formField]="contactForm.message" [placeholder]="messagePlaceholder()" />
        @if (
          contactForm.message().touched() &&
          contactForm.message().invalid() &&
          contactForm.message().value()
        ) {
          <p class="contact__form--error">{{ contactForm.message().errors()?.[0]?.message }}</p>
        }
      </div>
      <div class="contact__form--send">
        <div class="checkbox-line">
          <input
            class="contact__form--checkbox"
            type="checkbox"
            [formField]="contactForm.acceptPrivacy"
          />
          <p>
            I've read the <a routerLink="/privacy-policy">privacy policy</a> and agree to the
            processing of my data.
          </p>
          @if (contactForm.acceptPrivacy().dirty() && contactForm.acceptPrivacy().invalid()) {
            <p class="contact__form--error checkbox-line__error">
              {{ contactForm.acceptPrivacy().errors()?.[0]?.message }}
            </p>
          }
        </div>
        <app-button [disabled]="!contactForm().valid()">Drop a Line</app-button>
        <button class="contact__startbtn contact__btn-mobile">
          <a href="#hero-section">
            <svg
              width="8"
              height="17"
              viewBox="0 0 8 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.03324 0.146447C3.83798 -0.0488155 3.5214 -0.0488155 3.32613 0.146447L0.144154 3.32843C-0.0511086 3.52369 -0.0511086 3.84027 0.144154 4.03553C0.339416 4.2308 0.655998 4.2308 0.85126 4.03553L3.67969 1.20711L6.50811 4.03553C6.70338 4.2308 7.01996 4.2308 7.21522 4.03553C7.41048 3.84027 7.41048 3.52369 7.21522 3.32843L4.03324 0.146447ZM3.17969 16.5C3.17969 16.7761 3.40355 17 3.67969 17C3.95583 17 4.17969 16.7761 4.17969 16.5H3.17969ZM3.17969 0.5V16.5H4.17969V0.5H3.17969Z"
              />
            </svg>
          </a>
        </button>
      </div>
    </div>
    <button class="contact__startbtn contact__btn-desktop">
      <a href="#hero-section">
        <svg
          width="8"
          height="17"
          viewBox="0 0 8 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.03324 0.146447C3.83798 -0.0488155 3.5214 -0.0488155 3.32613 0.146447L0.144154 3.32843C-0.0511086 3.52369 -0.0511086 3.84027 0.144154 4.03553C0.339416 4.2308 0.655998 4.2308 0.85126 4.03553L3.67969 1.20711L6.50811 4.03553C6.70338 4.2308 7.01996 4.2308 7.21522 4.03553C7.41048 3.84027 7.41048 3.52369 7.21522 3.32843L4.03324 0.146447ZM3.17969 16.5C3.17969 16.7761 3.40355 17 3.67969 17C3.95583 17 4.17969 16.7761 4.17969 16.5H3.17969ZM3.17969 0.5V16.5H4.17969V0.5H3.17969Z"
          />
        </svg>
      </a>
    </button>
  </div>
</section>
