@use '../../../../../../public/assets/styles/all_styles.scss' as *;

.contact {
  @include sectionStart($bgDark, $textLight);

  @include tablet {
    height: auto;
    padding-top: 80px;
    // padding-bottom: 24px;
  }

  @include mobile {
    // padding-bottom: 24px;
  }

  .content {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(32px, calc(8px + 6vw), 80px);
    position: relative;

    @include tablet(1150px) {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;
      // gap: 32px;
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__intro {
    width: 100%;
    max-width: 528px;
    display: flex;
    flex-direction: column;
    gap: clamp(32px, calc(16px + 4vw), 64px);

    @include tablet(1150px) {
      max-width: 80%;
      // gap: 32px;
    }

    @include mobile(890px) {
      max-width: 100%;
    }

    h2 {
      @include headline;
      color: $highlightLight;
    }

    &--text {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h3 {
        color: $highlightMedium;
        font-weight: 700;
        font-size: clamp(20px, calc(18px + 0.5vw), 24px);
      }
    }
  }

  &__form {
    width: 100%;
    max-width: 600px;
    align-self: flex-end;
    height: 370px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tablet(1150px) {
      max-width: 100%;
      height: auto;
    }

    @include mobile {
      height: 495px;
    }

    &--personal {
      width: 100%;
      display: flex;
      gap: 32px;

      @include tablet {
        flex-direction: column;
      }
    }

    &--input {
      width: 50%;
      height: clamp(82px, calc(78px + 1vw), 90px);
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      border-bottom: 1px solid $highlightLight;
      position: relative;

      @include tablet(1150px) {
        width: 100%;
      }

      h3 {
        line-height: 120%;
        font-weight: 700;
        font-size: clamp(20px, calc(18px + 0.5vw), 24px);
      }

      &:hover,
      &:focus-within {
        border-bottom: 1px solid $highlightMedium;

        h3 {
          color: $highlightMedium;
        }
      }

      input {
        background: none;
        border: none;
        font-family: Quicksand;
        font-size: 16px;
        line-height: 120%;
        color: $textLight;
        caret-color: $highlightLight;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px $bgDark inset;
        -webkit-text-fill-color: $textLight;
      }

      input::placeholder {
        color: $textLight;
        opacity: 0.8;
      }
    }

    &--mail {
      width: 100%;
    }

    &--invalid {
      border-bottom: 1px solid $highlightMedium;

      input::placeholder {
        color: rgba(236, 123, 123, 1);
      }
    }

    &--error {
      font-size: 13px;
      color: rgba(236, 123, 123, 0.8);
      position: absolute;
      bottom: 0;
    }

    &--send {
      width: 100%;
      height: 110px;
      @include flex-column;
      gap: 41px;

      .checkbox-line {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 4px;
        position: relative;

        p a {
          color: $highlightMedium;

          &:hover {
            color: $textLight;
            font-weight: 700;
          }
        }

        &__error {
          position: absolute;
          bottom: 0;
          transform: translateY(30px);
        }
      }
    }

    &--checkbox {
      width: 20px;
      height: 20px;
      border: 2 px solid $highlightMedium;
      border-radius: 2px;
    }
  }

  &__startbtn {
    width: 30px;
    height: 48px;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: clamp(16px, calc(-12px + 7vw), 72px);
    @include flex-center(flex-end);

    @include tablet {
      top: unset;
      bottom: 30px;
      // right: 16px;
    }

    svg path {
      fill: $textLight;
    }

    &:hover {
      border-bottom: 1px solid $highlightMedium;

      svg path {
        fill: $highlightMedium;
      }
    }
  }

  &__btn-mobile {
    display: none;

    @include tablet {
      // display: flex;
    }
  }

  &__btn-desktop {
    @include tablet {
      // display: none;
    }
  }
}
