<section class="contact">
  <div class="content">
    <div class="contact__intro">
      <h2>Let's build something Cool together!</h2>
      <div class="contact__intro--text">
        <h3>Got a problem to solve?</h3>
        <p>
          Encourage people to contact you and describe what role you are interested in. Show that
          you will add value to their projects through your work.
        </p>
      </div>
    </div>
    <div class="contact__form">
      <div class="contact__form--personal">
        <div class="contact__form--input">
          <h3>What's your name?</h3>
          <input type="text" [formField]="contactForm.name" [placeholder]="namePlaceholder()" />
          @if (
            contactForm.name().touched() &&
            contactForm.name().invalid() &&
            contactForm.name().value()
          ) {
            <p class="contact__form--error">{{ contactForm.name().errors()?.[0]?.message }}</p>
          }
        </div>
        <div class="contact__form--input">
          <h3>What's your email?</h3>
          <input type="email" [formField]="contactForm.email" [placeholder]="emailPlaceholder()" />
          @if (
            contactForm.email().touched() &&
            contactForm.email().invalid() &&
            contactForm.email().value()
          ) {
            <p class="contact__form--error">{{ contactForm.email().errors()?.[0]?.message }}</p>
          }
        </div>
      </div>
      <div class="contact__form--mail contact__form--input">
        <h3>How can I help you?</h3>
        <input type="text" [formField]="contactForm.message" [placeholder]="messagePlaceholder()" />
        @if (
          contactForm.message().touched() &&
          contactForm.message().invalid() &&
          contactForm.message().value()
        ) {
          <p class="contact__form--error">{{ contactForm.message().errors()?.[0]?.message }}</p>
        }
      </div>
      <div class="contact__form--send">
        <div>
          <input
            class="contact__form--checkbox"
            type="checkbox"
            [formField]="contactForm.acceptPrivacy"
          />
          <p>I've read the <a>privacy policy</a> and agree to the processing of my data.</p>
          @if (contactForm.acceptPrivacy().dirty() && contactForm.acceptPrivacy().invalid()) {
            <p class="contact__form--error">
              {{ contactForm.acceptPrivacy().errors()?.[0]?.message }}
            </p>
          }
        </div>
        <app-button [disabled]="!contactForm().valid()">Drop a Line</app-button>
      </div>
    </div>
  </div>
</section>
