@use '../../../../public/assets/styles/all_styles.scss' as *;

.footer {
  width: 100%;
  height: auto;
  color: $textLight;
  font-family: Quicksand;
  font-size: 16px;
  line-height: 120%;
  @include flex-center;
  position: relative;
  background-color: $bgDark;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 clamp(16px, calc(-21.333px + 9.333vw), 72px);
    position: relative;

    @include mobile {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
    }
  }

  &__animation {
    width: clamp(200px, calc(-72px + 34vw), 370px);
    height: 0;
    position: relative;

    .gear-left,
    .gear-right {
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      overflow: hidden;
    }

    .gear-left {
      width: 48.6%;
      aspect-ratio: 1;
      left: 0;
    }

    .gear-right {
      width: 71.1%;
      aspect-ratio: 1;
      right: 0;
    }

    @include mobileFooter {
      width: 100%;
      height: $footerAnimationHeight;
    }

    @include mobile {
      width: 100%;
      height: $footerAnimationHeight;
      position: relative;
      bottom: 0;
      margin-top: 24px;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      // overflow: clip;
    }

    &--left {
      fill: $highlightMedium;
      width: 48.6%;
      height: auto;
      left: 0;
      @include rotate-animation;

      @include mobileFooter {
        width: auto;
        height: 67.616%;
      }
    }

    &--right {
      fill: $highlightLight;
      width: 71.1%;
      height: auto;
      right: 0;
      @include rotate-animation(reverse);

      @include mobileFooter {
        width: auto;
        height: 100%;
      }
    }
  }

  &__name,
  &__links {
    padding-bottom: 56px;

    @include mobile {
      padding-bottom: 0;
    }
  }

  &__name {
    text-align: center;

    @include mobile {
      order: 2;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    a:hover {
      color: $highlightLight;
    }

    @include mobile {
      order: 1;
      width: 100%;
      justify-content: space-between;
    }
  }
}
