// position items in center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin headline {
  font-family: Eczar;
  font-weight: 700;
  font-size: clamp(40px, calc(24px + 4vw), 72px);
  line-height: 100%;
}

@mixin sectionStart($bgColor, $color) {
  height: 100dvh;
  padding-top: 160px;
  background-color: #{$bgColor};
  font-family: Quicksand;
  color: #{$color};
  @include flex-column;
}

@mixin hoverDefault($axis: Y) {
  opacity: 0;
  visibility: hidden;
  transform: translate#{$axis }(100%);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0s linear 0.2s;
}

@mixin hoverEnter($axis: Y) {
  opacity: 1;
  visibility: visible;
  transform: translate#{$axis }(0);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0s linear 0s;
}

@mixin widescreen {
  @media (min-width: 1441px) {
    @content;
  }
}

// media-query for tablet-size
@mixin tablet($width: 1024px) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin mobileFooter {
  @media (min-width: 400px) and (max-width: 768px) {
    @content;
  }
}

// media-query for mobile-size
@mixin mobile($width: 768px) {
  @media (max-width: $width) {
    @content;
  }
}
