@use '../public/assets/styles/all_styles.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // position: relative;
}

// *:focus-visible {
//   outline: 2px solid $highlightLight;
//   outline-offset: 4px;
//   border-radius: 4px;
// }

html,
body {
  font-size: 16px;
  // overflow-x: hidden;
}

body {
  min-height: 100dvh;
  background-color: $bgDark;
  // background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  // align-items: center;
  // width: 100%;
}

// app-root {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 1440px;
  // padding: 0 112px;
  padding-inline: clamp(16px, calc(-32px + 12vw), 112px);

  @include tablet {
    // padding: 0 16px;
  }

  @include mobile {
    // padding: 0 16px;
  }
}

.hide {
  // display: none;
}
