@use '../../../../../../public/assets/styles/all_styles.scss' as *;

.skills {
  @include sectionStart($bgDark, $textLight);

  @include tablet {
    height: auto;
    padding-block: 80px;
  }

  @include mobile {
    padding-block: 80px 22px;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(50px, calc(31px + 4.75vw), 88px);

    @include widescreen {
      justify-content: space-between;
      padding-bottom: 117px;
    }

    @include tablet {
      height: auto;
    }
  }

  &__info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: clamp(32px, calc(28px + 1vw), 40px);

    h2 {
      @include headline;
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: 600px;
      height: 140px;
      border-radius: 4px;
      background-color: $bgMedium;
      padding: 32px;

      @include mobile {
        padding: 16px;
        height: auto;
      }
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include tablet {
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__animation {
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;

    @include tablet {
      align-self: flex-start;
    }

    &--graphic {
      fill: $highlightMedium;
    }

    &--btn {
      width: 32px;
      height: auto;
      border: none;
      background: none;
      @include flex-center;
      position: absolute;
      bottom: 37%;
      left: 37%;
    }
  }

  &__overlay {
    width: 100%;
    max-width: 360px;
    height: auto;
    background-color: $highlightLight;
    border: 1px solid $textLight;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    left: 14%;
    bottom: 0;
    @include hoverDefault;
    z-index: 10;

    @include tablet {
      bottom: 100px;
      left: unset;
    }

    &--visible {
      @include hoverEnter;
    }

    button {
      width: 32px;
      height: 32px;
      align-self: flex-end;
      border: none;
      background: none;
      @include flex-center;
      display: none;

      @include tablet {
        display: unset;
      }

      svg path {
        fill: $textLight;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
    }

    > div {
      @include flex-column;
      gap: 8px;

      p {
        line-height: 100%;
      }

      ul {
        display: flex;
        gap: 40px;

        li {
          @include flex-column;
          line-height: 120%;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  &__list {
    width: 100%;
    max-width: 640px;
    height: auto;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 16px 40px;

      @include mobile {
        gap: 12px;
      }

      li {
        width: 96px;
        height: 144px;
        @include flex-column;
        text-align: center;
        gap: 8px;

        @include mobile {
          width: 80px;
          height: auto;
          min-height: 99px;
        }

        > div {
          width: 100%;
          aspect-ratio: 1 / 1;
          @include flex-center;

          img {
            width: 72px;
            height: 72px;
            transition: ease 0.3s;

            @include mobile {
              width: 58px;
              height: 64px;
            }
          }

          img:hover {
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}
